<template>
  <div id="app">
    <AddProduct v-on:add-product="addProduct" />

    <div v-bind:key="product.id" v-for="product in products">
      <ProductItem
        v-bind:product="product"
      />
    </div>
  </div>
</template>

<script>
import AddProduct from "../components/AddProduct";
import ProductItem from "../components/PrdocutItem";
import authHeader from "../services/authHeader";
import axios from "axios";

export default {
  name: "CategoryProducts",
  components: {
    AddProduct,
    ProductItem,
  },
  methods: {
    addProduct(newProduct) {
      const { name,quantity,description,bought_price,sell_price,location,category } = newProduct;
      console.log(newProduct);
      axios
        .post("http://localhost:8085/products", {
          name,quantity,description,bought_price,sell_price,location,category
        },
        {
          headers: authHeader()
        })
        .then((res) => (this.products = [...this.products, res.data]))
        .catch((err) => console.log(err));
    },
    // deleteCategory(product_id) {
    //   axios
    //     .delete("http://localhost:8085/products/" + product_id, {
    //       headers: authHeader(),
    //     })
    //     .then(
    //       (this.products = this.products.filter(
    //         (product) => product.id !== product_id
    //       ))
    //     )
    //     .catch((err) => console.log(err));
    // },
  },
  data() {
    return {
      products: [],
    };
  },
  created() {
    axios
      .get("http://localhost:8085/products", {
        headers: authHeader(),
      })
      .then((response) => (this.products = response.data))
      .catch((err) => console.log(err));
  },
  computed: {
    currentUser() {
      console.log(this.$store.state.auth.user);
      return this.$store.state.auth.user;
    },
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push("/login");
    }
  },
};
</script>

<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
</style>