<template>
  <div id="app">
    <AddCategory v-on:add-category="addCategory" />

    <div v-bind:key="category.id" v-for="category in categories">
      <CategoryItem
        v-bind:category="category"
        v-on:del-category="deleteCategory"
      />
    </div>
  </div>
</template>

<script>
import AddCategory from "../components/AddCategory";
import CategoryItem from "../components/CategoryItem";
import authHeader from "../services/authHeader";
import axios from "axios";

export default {
  name: "Categories",
  components: {
    AddCategory,
    CategoryItem,
  },
  methods: {
    addCategory(newCategory) {
      const { name } = newCategory;
      console.log(authHeader());
      axios
        .post("http://localhost:8085/categories", {
          name,
        },
        {
          headers: authHeader()
        })
        .then((res) => (this.categories = [...this.categories, res.data]))
        .catch((err) => console.log(err));
    },
    deleteCategory(category_id) {
      axios
        .delete("http://localhost:8085/categories/" + category_id, {
          headers: authHeader(),
        })
        .then(
          (this.categories = this.categories.filter(
            (category) => category.id !== category_id
          ))
        )
        .catch((err) => console.log(err));
    },
  },
  data() {
    return {
      categories: [],
    };
  },
  created() {
    
    axios
      .get("http://localhost:8085/categories", {
        headers: authHeader(),
      })
      .then((response) => (this.categories = response.data))
      .catch((err) => console.log(err));
  },
  computed: {
    currentUser() {
      console.log(this.$store.state.auth.user);
      return this.$store.state.auth.user;
    },
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push("/login");
    }
  },
};
</script>

<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
</style>