<template>
  <div id="app">
    <AddDocument v-on:add-document="addDocument" />
    <div v-bind:key="document.id" v-for="document in documents">
      <DocumentItem
          :document="document" 
      />
    </div>
  </div>
</template>

<script>
import AddDocument from "../components/AddDocument";
import DocumentItem from "../components/DocumentItem";
import authHeader from "../services/authHeader";
import axios from "axios";

export default {
  name: "Documents",
  components: {
    AddDocument,
    DocumentItem,
  },
  methods: {
    addDocument(newDocument) {
      const { documentType, description, products } = newDocument;
      axios
        .post("http://localhost:8085/documents", {
          documentType,description,products
        },
        {
          headers: authHeader()
        })
        .then((res) => (this.documents = [...this.documents, res.data]))
        .catch((err) => console.log(err));
    },
  },
  data() {
    return {
      documents: [],
    };
  },
  created() {
    axios
      .get("http://localhost:8085/documents", {
        headers: authHeader(),
      })
      .then((response) => (this.documents = response.data))
      .catch((err) => console.log(err));
  },
  computed: {
    currentUser() {
      console.log(this.$store.state.auth.user);
      return this.$store.state.auth.user;
    },
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push("/login");
    }
  },
};
</script>

<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
</style>