<template>
  <div>
    <v-card>
      <v-card-title>
        <h2>Add new Category</h2>
      </v-card-title>
      <v-card-text>
        <v-form class="px-3" @submit="addCategory">
          <v-text-field label="Category Name" v-model="name" class="mx-4"></v-text-field>
          <v-btn class="mx-0 mt-3" color="primary">Add Category</v-btn>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "AddCategory",
  data() {
    return {
      name: "",
    };
  },
  methods: {
    addCategory(e) {
      e.preventDefault();
      const newCategory = {
        name: this.name,
      };
      //Send up to parent
      this.$emit("add-category", newCategory);
      this.name = "";
    },
  },
};
</script>

<style scoped>
form {
  display: flex;
}
input[type="text"] {
  flex: 10;
  padding: 5px;
}
input[type="submit"] {
  flex: 2;
}
</style>