<template>
  <div>
    <v-card>
      <v-card-title>
        <h2>Add new Document</h2>
      </v-card-title>
      <v-card-text>
        <v-form class="px-3" @submit="addDocument">
          <v-select v-model="documentType"
            :items="docTypes"
            item-text="name"
            item-value="id"
            label="Document Type"
          ></v-select>
          <v-text-field label="Description" v-model="description" class="mx-4"></v-text-field>
                <v-btn class="mx-0 mt-3" color="primary" @click="addDocument">Add Document</v-btn>
        </v-form>
        <v-form class="px-3 d-block" @submit="addProduct">
                <v-select v-model="product_id"
                    :items="products"
                    item-text="name"
                    item-value="id"
                    label="Product"
                ></v-select>
                <v-text-field label="Quantity" v-model="quantity"></v-text-field>
                <v-btn class="mx-0" color="primary" @click="addProduct">Add Product</v-btn>
                <div v-bind:key="product.id" v-for="product in products_document" id="products_list" class="d-inline">
                    <v-chip class="ma-2" close @click:close="removeProductFromDocument(product.id)">
                        {{products.filter(item => item.id == product.id)[0].name}}: {{product.quantity}} 
                        </v-chip>
                </div>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import authHeader from "../services/authHeader";
import axios from "axios";
export default {
  name: "AddDocument",
  data() {
    return {
      description: '',
      documentType: 0,
      products: [],
      products_document: [],
      quantity: 0,
      product_id:1,
      product_name:'',
      docTypes: [{name: "Import Document",id:0},{name: "Export Document",id:1}]
    };
  },
  methods: {
    addDocument(e) {
      e.preventDefault();
      const newDocument = {
        documentType: this.documentType,
        description: this.description,
        products: this.products_document
      };
      //Send up to parent
      this.$emit("add-document", newDocument);
      this.description = "";
      this.products_document = [];
    },
    addProduct(e) {
      e.preventDefault();
      const newProduct = {
        id: this.product_id,
        quantity: this.quantity,
        name: this.products.filter(item => item.id == this.product_id)[0].name
      };
      this.products_document = [...this.products_document,newProduct];
      console.log(this.products_document);
      this.quantity = "";
    },
    removeProductFromDocument(id){
        this.products_document = this.products_document.filter(item => item.id != id);
        console.log(this.products_document);
    }
  },
  
  created() {
    axios
      .get("http://localhost:8085/products", {
        headers: authHeader(),
      })
      .then((response) => (this.products = response.data))
      .catch((err) => console.log(err));
  },
};
</script>

<style scoped>
form {
  display: flex;
}
input[type="text"] {
  flex: 10;
  padding: 5px;
}
input[type="submit"] {
  flex: 2;
}
</style>