<template>
  <div>
    <v-card>
      <v-card-title>
        <h2>Add new Product</h2>
      </v-card-title>
      <v-card-text>
        <v-form class="px-3" @submit="addProduct">
          <v-select v-model="category_id"
            :items="categories"
            item-text="name"
            item-value="id"
            label="Category"
          ></v-select>
          <v-text-field label="Product Name" v-model="name" class="mx-4"></v-text-field>
          <v-text-field label="Description" v-model="description" class="mx-4"></v-text-field>
          <v-text-field label="Quantity" v-model="quantity" class="mx-4"></v-text-field>
          <v-text-field label="Bought Price" v-model="bought_price" class="mx-4"></v-text-field>
          <v-text-field label="Sell Price" v-model="sell_price" class="mx-4"></v-text-field>
          <v-text-field label="Location" v-model="location" class="mx-4"></v-text-field>
          <v-btn class="mx-0 mt-3" color="primary" @click="addProduct">Add Product</v-btn>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import authHeader from "../services/authHeader";
import axios from "axios";
export default {
  name: "AddProduct",
  data() {
    return {
      name:'',
      quantity: 0,
      description: '',
      bought_price:0,
      sell_price:0,
      location:0,
      category_id:1,
      categories: [],
    };
  },
  methods: {
    addProduct(e) {
      e.preventDefault();
      const newProduct = {
        name: this.name,
        quantity: this.quantity,
        description: this.description,
        bought_price: this.bought_price,
        sell_price: this.sell_price,
        location: this.location,
        category: { "id" : this.category_id }
      };
      //Send up to parent
      this.$emit("add-product", newProduct);
      this.name = "";
      this.quantity = "";
      this.name = "";
      this.description = "";
      this.bought_price = "";
      this.sell_price = "";
      this.location = "";
    },
  },
  created() {
    axios
      .get("http://localhost:8085/categories", {
        headers: authHeader(),
      })
      .then((response) => (this.categories = response.data))
      .catch((err) => console.log(err));
  },
};
</script>

<style scoped>
form {
  display: flex;
}
input[type="text"] {
  flex: 10;
  padding: 5px;
}
input[type="submit"] {
  flex: 2;
}
</style>