  <template>
  <div class="category-item">
    <v-card class="my-2 mx-2" max-width="500px">
      <v-card-text class="normal-control">
        <p class="display-1 text--primary" id="category_name">
          {{category.name}}
        </p>
      </v-card-text>
      
        <v-text-field
          class="mx-4 hide edit-control"
          id="category_name_text"
          v-model="name"
        ></v-text-field>
         <v-btn
          outlined
          rounded
          text
          class="mx-2 hide edit-control"
          @click="cancelEdit"
        >
        Cancel
         </v-btn>
         <v-btn
          outlined
          rounded
          text
          class="mx-2 hide edit-control"
          @click="saveCategory"
        >
        Save
         </v-btn>
      <v-card-actions>
        <v-btn outlined rounded text class="normal-control"
          >Show Products
        </v-btn>
        <v-btn
          outlined
          rounded
          text
          class="normal-control"
          @click="editCategory"
        >
          Edit
        </v-btn>
        <v-btn
          outlined
          rounded
          text
          color="error"
          class="normal-control"
          @click="$emit('del-category', category.id)"
        >
          Delete
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>
<script>
export default {
  name: "CategoryItem",
  props: ["category"],
  data() {
    return {
      name: "",
    };
  },
  methods: {
    editCategory(e) {
      e.preventDefault();
      let normal_elements = document.getElementsByClassName("normal-control");
      let edit_elements = document.getElementsByClassName("edit-control");
      for (let item of normal_elements) {
        item.classList.add("hide");
      }
      for (let item of edit_elements) {
        item.classList.remove("hide");
      }
      let category_name = document.getElementById("category_name").innerText.trim();
      document.getElementById("category_name_text").value = category_name;
      // document.getElementById("category_name_text").autofocus = true;
    },
    saveCategory(e) {
      e.preventDefault();
      // const newCategory = {
      //   name: this.name,
      // };

      // this.$emit("save-category", newCategory);
      // console.log(this.$props);
      console.log("hi");
    },
    cancelEdit(e){
      e.preventDefault();
      console.log('canceled!')
    }
  },
};
</script>

<style scoped>
.hide {
  display: none;
}
</style>