  <template>
  <div class="document-item">
    <v-card class="my-2" max-width="500px">
      <v-card-text class="normal-control">
        <p class="display-1 text--primary" id="document_name">
          {{document.documentType}} No {{ document.id }}
        </p>
        <p class="body-1 text--primary" id="document_description">
          Description: {{document.description}}
        </p>
        <p class="body-1 text--primary" id="document_Products">
          Products: {{products}}
        </p>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
export default {
  name: "DocumentItem",
  props: ["document"],
  data() {
      let product_names = this.document.products.map(item => item.name);
      let products = '';
      product_names.forEach(function (item) {
            products += item + ', '
    });
    products = products.slice(0,products.length-2);
    return {
      name: "",
      products
    };
  },
};
</script>

<style scoped>
.hide {
  display: none;
}
</style>