  <template>
  <div class="product-item">
    <v-card class="my-2" max-width="500px">
      <v-card-text class="normal-control">
        <p class="display-1 text--primary" id="product_name">
          {{product.name}}
        </p>
        <p class="body-1 text--primary" id="product_location">
          Location: {{product.location}}
        </p>
        <p class="body-1 text--primary" id="product_quantity">
          Quantity: {{product.quantity}}
        </p>
        <p class="body-1 text--primary" id="product_quantity">
          Bought Price: {{product.bought_price}}
        </p>
        <p class="body-1 text--primary" id="product_quantity">
          Sell Price: {{product.sell_price}}
        </p>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
export default {
  name: "ProductItem",
  props: ["product"],
  data() {
    return {
      name: "",
    };
  },
};
</script>

<style scoped>
.hide {
  display: none;
}
</style>