<template>
  <v-app>
    <div>
      <v-toolbar color="blue">
        <!-- <v-app-bar-nav-icon color="white"></v-app-bar-nav-icon> -->
        <v-toolbar-title class="white--text"
          >Inventory Dashboard</v-toolbar-title
        >
        <v-spacer></v-spacer>
        <v-toolbar-items class="hidden-sm-and-down">
          <v-btn depressed color="transparent white--text" to="/">Home</v-btn>
          <v-btn depressed color="transparent white--text" v-if="!currentUser" to="/Login">Login</v-btn>
          <v-btn depressed color="transparent white--text" v-if="currentUser" to="/categories">Categories</v-btn>
          <v-btn depressed color="transparent white--text" v-if="currentUser" to="/products">Products</v-btn>
          <v-btn depressed color="transparent white--text" v-if="currentUser" to="/documents">Documents</v-btn>
          <v-btn depressed color="transparent white--text" v-if="currentUser" @click.prevent="logOut">LogOut</v-btn>
        </v-toolbar-items>
      </v-toolbar>
    </div>
    <div class="container">
      <router-view />
    </div>
  </v-app>
</template>

<script>
export default {
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  },
  methods: {
    logOut() {
      this.$store.dispatch('auth/logout');
      this.$router.push('/login');
    }
  }
};
</script>
